/*  your css code here. If applicable */
.imageContainer{
	width:1100;
 background-color:lightgray;
}
#im
{
	height:200px;
	width:300px;
}
#c1{
	width:200px;
}
#c2{
	width:600px;
	font-size:10px;
	text-align:center;
}
#c3{
	width:200;
}